/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.menu {
    width: 250px;
    height: 100%;
    background-color:black;
    position: fixed;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.content {
    margin-left: 250px;
    height: 70px;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    border: none;
    border-bottom: 2px solid #333;
    padding: 5px;
    width: 60%;
}

input[type="text"]::placeholder {
    color: #333;
}

.header span {
    font-size: 20px;
    cursor: pointer;
} */


body {
    padding-top: 56px;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-icons i {
    margin-left: 10px;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.header .input-group {
    width: 70%;
}

.header input {
    border-radius: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 56px;
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;


    color:black;
}

.sidebar img {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.sidebar li {
    margin-bottom: 10px;
}



/********************************/

/* Sidebar */

.sidebar ul li {
    border-bottom: 1px solid #080808;
}

.sidebar ul li a {
    color:black;
    font-family: 'Lucida Sans Unicode', Verdana, sans-serif;
}

