
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DEPANINI Landing Page</title>
</head>
<body>
<div class="container">
        <img src="assets\img\logo.png" alt="DEPANINI Logo" class="logo-top-right">
        <div class="logo">
            <img src="assets\img\depannage.png" alt="DEPANINI Logo">
        </div>
        <div class="welcome-message">
            <h1>WELCOME chez nous</h1>
            <p>A place where you can find multiple opportunities!</p>
        </div>
        <div class="buttons">
            <a routerLink="/login" class="button">DE</a>
            <a href="/loginEnt" class="button">DS</a>
        </div>
      </div>
</body>
</html> 

