<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <section class="vh-100">

        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">

                <div class="col-md-3 col-lg-6">
                    <div align="center"> <h1> Modifier votre compte </h1>
                   </div>
                   <br> <br>
                    <form>
                        <div class="form-outline mb-2">
                            <input type="text" id="form3Example3" class="form-control"
                                placeholder="Nom de l'entreprise" />
                        </div>

                        <div class="form-outline mb-2">
                            <input type="email" id="form3Example3" class="form-control"
                                placeholder="Email professionel" />
                        </div>

                        <div class="form-outline mb-2">
                            <input type="password" id="form3Example4" class="form-control"
                                placeholder="Password" />
                        </div>

                        <div class="form-outline mb-2">
                            <input type="text" id="form3Example4" class="form-control"
                                placeholder="Adresse" />
                        </div>

                        <div class="form-outline mb-2">
                            <input type="number" id="form3Example4" class="form-control"
                                placeholder="Fax" />
                        </div>
                        <br>
                        <a href="/dashDS"  class="btn btn-primary btn-lg btn-block" style=" background-color:green;
                        border-color: #dbaedb;">Modifier</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
